#root {
  font-size: calc(100vw / 1440 * 1px);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#global-header-wrap,
#global-footer-wrap {
  width: 100%;
  flex-shrink: 0;
  background-color: #fff;
}
#global-main-wrap {
  width: 100%;
  flex-grow: 1;
  background-color: #fff;
}
#global-main,
#global-footer-top {
  width: 100vw;
  height: 100%;
  max-width: 1440rem;
  margin: 0 auto;
  background-color: #f9f8fd;
  overflow: hidden;
}
#global-footer-top {
  background: #fff;
}
#global-main {
  margin-top: 66rem;
}
/* header start */
#global-header-wrap {
  height: 66rem;
  position: fixed;
  top: 0;
  z-index: 9999;
}
#global-header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12rem 38rem;
  padding-right: 109rem;
}
#global-header .g-header-more {
  width: 17rem;
  height: 17rem;
  margin-right: 40rem;
}
#global-header .g-header-logo {
  width: 95rem;
  height: 41rem;
  cursor: pointer;
}
#global-header .g-header-left {
  display: flex;
  align-items: center;
}
#global-header .g-header-right {
  display: flex;
  align-items: center;
}

.g-header-search {
  width: 337rem;
  height: 41rem;
  margin-right: 24rem;
  position: relative;
  background-color: #efeef3;
  border-radius: 21rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.g-header-icon-search {
  width: 22rem;
  height: 22rem;
  position: absolute;
  top: 11rem;
  left: 11rem;
}
.g-header-input {
  width: 100%;
  height: 100%;
  background-color: #efeef3;
  border-radius: 21rem;
  padding-left: 43rem;
}
.g-header-car {
  width: 160rem;
  height: 41rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17rem;
  color: #fff;
  background-color: #3360a4;
  border-radius: 21rem;
  margin-right: 24rem;
  cursor: pointer;
}
.g-header-car:hover {
  box-shadow: 0 0 4px #007bff;
  cursor: pointer;
}
.g-header-avatar {
  width: 42rem;
  height: 42rem;
  cursor: pointer;
}
/* header end */

/* footer start */
#global-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200rem;
  padding-left: 146rem;
  padding-right: 42rem;
}
.g-f-t-l-top {
  display: flex;
  align-items: center;
}
.g-f-t-l-top img {
  margin-right: 18rem;
}
.g-f-t-l-main {
  font-size: 16rem;
  color: #98846c;
  line-height: 35rem;
  margin-bottom: 20rem;
}
.g-f-t-right-li {
  width: 372rem;
  height: 41rem;
  font-size: 16rem;
  padding: 0 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efddc9;
  color: #98846c;
  border-radius: 21rem;
  margin-bottom: 20rem;
}

#global-footer-bottom {
  background-color: #fbf6f0;
  color: #98846c;
  font-size: 16rem;
  height: 64rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer end */

/** counter start */
.counter-wrap {
  display: flex;
}
.command-btn {
  width: 28rem;
  height: 28rem;
  background-color: #d1ae84;
  color: #fff;
  font-size: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem 0 0 4rem;
  cursor: pointer;
}
.command-btn:last-of-type {
  border-radius: 0 4rem 4rem 0;
}
.count-num {
  width: 28rem;
  height: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1ae84;
  background-color: #f9f0e5;
  font-size: 18rem;
}
/** counter end */