.m-t-banner {
    width: 100%;
    max-width: 1440rem;
    height: 524rem;
}
.m-t-banner img {
    width: 100%;
    height: 524rem;
}
.m-t-logo {
    position: relative;
    top: -33rem;
    display: flex;
    flex-wrap: wrap;
    width: 1200rem;
    justify-content: center;
    margin: 0 auto;
}
.m-t-logo img {
    width: 261rem;
    /* height: 100rem; */
}

.m-main-pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.m-main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m-main-title h2 {
    font-size: 24rem;
    color: #000;
    font-weight: 700;
    line-height: 31rem;
}
.title-bottom {
    width: 86rem;
    height: 11rem;
    border-radius: 11rem;
    background-color: #efddc9;
}
.m-main-petsList {
    margin-top: 30rem;
    display: flex;
    margin-bottom: 52rem;
}
.m-main-petsList-pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 33rem;
}
.m-main-petsList-pet:last-of-type {
    margin-right: 0;
}
.m-main-petsList-pet img {
    width: 197rem;
    height: 197rem;
    margin-bottom: 29rem;
}
.m-main-petslist-pet-button {
    width: 197rem;
    height: 41rem;
    border-radius: 21rem;
    background-color: #3d89c3;
    color: #fff;
    font-size: 16rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.m-main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204rem;
    height: 31rem;
    color: #000;
    opacity: 0.1;
}
.m-main-footer .line {
    width: 47rem;
    height: 1rem;
    background-color: #000;
}
.m-main-footer .text {
    font-size: 18rem;
    margin: 0 20rem;
    line-height: 18rem;
}


.m-main-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/images/home-product-bg.png");
    background-size: cover;
    margin-top: 40rem;
    padding-top: 60rem;
    padding-bottom: 45rem;
}
.m-m-p-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.m-m-p-productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30rem;
    max-width: 900rem;
}
.m-m-p-productsList img {
    width: 446rem;
    height: 262rem;
}

.m-m-p-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204rem;
    height: 31rem;
    color: #fff;
    opacity: 0.4;
    margin-top: 54rem;
}
.m-m-p-foot .line {
    width: 47rem;
    height: 1rem;
    background-color: #fff;
}
.m-m-p-foot .text {
    font-size: 18rem;
    margin: 0 20rem;
    line-height: 18rem;
}

.m-main-banner {
    margin-top: 50rem;
    position: relative;
    display: flex;
    left: -1003rem;
}
.m-main-banner img {
    width: 1116rem;
    height: 358rem;
}
.m-m-banner-cur {
    margin: 0 40rem;
}

.m-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50rem;
}
.m-m-i-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m-m-info {
    width: 851rem;
    height: 262rem;
}
.m-m-info-cat {
    width: 307rem;
    height: 151rem;
    position: relative;
    top: -75rem;
}